{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Stock Symbol</th>
        <th scope="col">Rating</th>
        <th scope="col">Weight</th>
        <th scope="col">Gain/Loss Total</th>
        <th scope="col">Gain/Loss Day</th>
        <th scope="col">Price</th>
        <th scope="col">Price Target</th>
    </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
    <tr>
        <td><a href="view/{{stock.id}}">{{ stock.Symbol }}</a></td>
        <td>{{ stock.Rating }}</td>
        <td>{{ stock.Weight }}</td>
        <td>{{ stock.Gain_Loss }}</td>
        <td>{{ stock.Gain_Loss_1 }}</td>
        <td>{{ stock.Price }}</td>
        <td>{{ stock.Price_Target }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}